.header{
    background-color: red;
    color: white;
    padding: 20px;
}

.footer{
    background-color: red;
    color: white;
    padding: 10px;
}


.header a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    border: 2px solid white;
    color: red;
    border-radius: 10px;
    padding: 12px;
    margin: 12px;
    background-color: rgb(255, 255, 255);
}

a , button{
  text-decoration: none;
  padding: 5px;
  margin:5px;
  background-color: rgb(253, 252, 252);
  border-color: red;
  color: black;
  border-radius: 8 px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    /* background-color: black; */
    margin: 0;
    padding: 0;
  }
  
  * {
    box-sizing: border-box;
  }

  /* Add padding to containers */
  .container {
    padding: 16px;
    background-color: white;
  }
  
  /* Full-width input fields */
  input[type=text], input[type=password] , input[type=email] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }
  
  input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  /* Overwrite default styles of hr */
  hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }
  
  /* Set a style for the submit button */
  .registerbtn {
    background-color: red;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }
  
  .registerbtn:hover {
    opacity: 1;
  }
  
  
  /* Set a grey background color and center the text of the "sign in" section */
  .signin {
    background-color: #f1f1f1;
    text-align: center;
  }
