*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.hero{
    position: relative;
    width: 100%;
    height: 100vh;
    background: #eff4ef;
}

nav{
    display: flex;
    width: 84%;
    margin: auto;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

nav ul li a:hover{
   color: red; 
}

.detel{
    margin-left: 8%;
    margin-top: 15%;
}

.detel h1{
    font-size: 50px;
    color: #212121;
    margin-bottom: 20px;
}
span{
    color: orange;
}
.detel p{
    color: #555;
    line-height: 22px;
}
.detel a{
    background: #212121;
    padding: 10px 18px;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    display: inline-block;
    margin: 30px 0;
    border-radius: 5px;
}

.images{
    width: 45%;
    height: 50%;
    position: absolute;
    bottom: 0;
    right: 100px;
}

.images img{
    height: 100%;
    position: absolute;
    left: 50%;
    bottom: 0;

}


.services{
    height:450px;
    background-color:#ffffff;
    padding: 2% 10% 0px 10%;
   }
   .services-text p:nth-child(1){
    font-family: calibri;
    font-weight:bold;
    color:#1d1c1c;
    font-size:30px;
    line-height:0px;
   }
   .box-container{
    display:flex;
    justify-content:space-evenly;
   }
   .box-1,.box-2{
    width: 300px;
    height:300px;
    box-shadow:2px 2px 18px rgba(0, 0, 0, 0.932);
    align-items: center;
    justify-content: space-evenly;
    display: flex;
    flex-direction: column;
    margin: 0px 4px;
   }
    
   .box-1{
    background-image:url("images/pic.jpg");
    height: 300px;
    width: 300px;
   }
   .box-2{
    background-image:url("images/degin.png");
   }
   .box-1
   .box-2 {
    font-family: calibri;
    color:#f0dfdf;
    text-align:center;
    width: 230px;
    margin:0px 0px 20px 0px;
   }
   .contact
   {
       background-color: #ffffff;
       height: 500px;
       position: relative;
       padding: 4% 10% 2px ;
       margin-top: 15px;
      
   }
   .contact .contact-content .column{
       width: calc(50% - 30px);
   }
   .contact .right form .fields{
       display: flex;
   }
   .contact .right form .field,
   .contact .right form .fields .field{
       height: 45px;
       width: 100%;
       margin-bottom: 15px;
   }
   .contact .right form .textarea{
       height: auto;
       width: 100%;
   }
   .contact .right form .name{
       margin-right: 10px;
   }
   .contact .right form .field input,
   .contact .right form .textarea textarea{
       height: 100%;
       width: 100%;
       border: 1px solid lightgrey;
       border-radius: 6px;
       outline: none;
       padding: 0 15px;
       font-size: 17px;
       font-family: sans-serif;
   }
   .contact .right form .textarea textarea{
     padding-top: 10px;
     resize: auto;
   }
   .contact .right form .button-area{
     display: flex;
     align-items: center;
   }
   .right form .button-area button{
     color: #fff;
     display: block;
     width: 160px;
     height: 45px;
     outline: none;
     font-size: 18px;
     font-weight: 500;
     border-radius: 6px;
     cursor: pointer;
     flex-wrap: nowrap;
     background: turquoise;
     border: 2px solid rgb(161, 127, 134);
     transition: all 0.3s ease;
   }

footer{
    font-family: cursive;
    font-size: 20px;
    font-weight: bold;
    color: black;
    text-align: center;
    display: flex;
    justify-content: center;
    position: relative;


}